* {
    font-family: Inter;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: 400;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --primary: #E12B20;
    --secondary: #FFCB69;
    --third: #E8E8E8;
}